[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2"
requests = "*"
setuptools = "*"
django-polls = {path = "./django-polls/dist/django-polls-0.1.tar.gz"}

[dev-packages]

[requires]
python_version = "3.9"
