<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Polls</title>
</head>
<body>
  {% if LATEST_QUESTION_LIST %}
    <ul>
      {% for question in LATEST_QUESTION_LIST %}
        <li><a href="{% url 'DETAIL' question.id %}">{{ question.question_text }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
</body>
</html>
